<!DOCTYPE html> 
<html ng-app="indexApp">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Daily Coding</title>

    <!-- Bootstrap --> 
    <link href="vendor/bootstrap-responsive.min.css" rel="stylesheet"> 
    <link href="vendor/bootstrap.min.css" rel="stylesheet">  
    <link href="css/style.css" rel="stylesheet">


	<body>
		<div ng-controller="MainController">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  			<div class="container">
				  <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="/">Daily Coding</a>
				  </div>

				  <!-- Collect the nav links, forms, and other content for toggling -->
				  <div class="collapse navbar-collapse navbar-ex1-collapse">
				    <ul class="nav navbar-nav">
				      <li class="active"><a href="#projects">Projects</a></li>  
	            <li><a href="#ideas">Ideas</a></li>  
	            <li><a href="#technologies">Technologies</a></li> 
	            <li><a href="#about">About</a></li>   
				    </ul>
				    <ul class="nav navbar-nav navbar-right" ng-controller="NavbarController">
				      <li><p class="navbar-text pull-right" ng-show="authentication.authorized">Welcome, {{authentication.user.user}}!</p></li>
				      <li><a ng-click="authentication.authorized ? signOut() : showLoginModal()">{{authentication.authorized ? 'Sign out' : 'Sign in'}}</a></li>
				    </ul>
				  </div><!-- /.navbar-collapse -->
				 </div>
			</nav>

		    


		    <!-- Login Modal -->
		    <form method="post" ng-controller="LoginController">
		    	<div id="login-modal" class="modal fade">
					  <div class="modal-dialog" style="width:400px;">
					    <div class="modal-content">

					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title">Sign in</h4>
					      </div>

					      <div class="modal-body">
										        
					      	<div class="alert" ng-class="{'alert-danger': status=='error', 'alert-info': status=='signingin', 'alert-success': status=='signedin'}" ng-hide="(status=='')">{{message}}</div>

					      	<p>Username</p>
					      	<p><input type="text" id="user-tf" class="form-control required" ng-model="username"></p>

					      	<p>Password &nbsp;&nbsp;&nbsp;<a ng-click="showForgotModal()">Forgot?</a></p>
					      	<p><input type="password" id="pass-tf" class="form-control required" ng-model="password"></p>
		      				
								    <input type="checkbox" id="remember-me" ng-model="rememberme"> Remember Me
								  
									
					      </div>
					      <div class="modal-footer">
					      	<button type="button" class="btn btn-primary" ng-click="signin()" ng-disabled="status == 'signingin' || status == 'signedin'" >Sign in</button>
							        <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="status == 'signingin' || status == 'signedin'">Close</button>
						      
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
			</form>

			<!-- Forgot Password Modal -->
			<form method="post" ng-controller="ForgotPassController">
		    	<div id="forgot-password-modal" class="modal fade">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title">Forgot Password</h4>
					      </div>

					      <div class="modal-body">
										        
					      	<div class="alert" ng-class="{'alert-danger': status=='error', 'alert-info': status=='sending', 'alert-success': status=='sent'}" ng-hide="(status=='')">{{message}}</div>

					      	<p>Please type in your email address.</p>
					      	<p><input type="text" id="user-tf" class="form-control required" ng-model="email"></p>
					      </div>
					      <div class="modal-footer">
					      	<button type="button" class="btn btn-primary" ng-click="send()" ng-disabled="status == 'sending' || status == 'sent'">Send</button>
							        <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="status == 'sending' || status == 'sent'">Cancel</button>
						      
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
			</form>

	<div class="container">

		<div class="space"></div>

		<p>Everyday, a new project is completed.  Remember to check back later!</p>
				<!-- Projects ************** -->

		    <div class="anchor" id="projects" ><h2>Projects</h2><div>
		    
		    <div ng-controller="ProjectController">
		    	<p>{{ 
		    		(projects.length>0)
		    		? ((projects.length==1)
		    			? "There is 1 completed project."
		    			: "There are " + projects.length + " completed projects.") 
		    		: "No project has been completed.  Please check back later!"
		    	}}</p>
		    	<table class="table">  
            <thead> 
              <tr> 
                <th>Day</th>  
                <th>Name</th>  
                <th>Description</th>  
                <th>Adopted Technologies</th>  
              </tr>  
            </thead> 
            <tbody> 
            	<tr ng-repeat="project in projects">
            		<td><div class="anchor" id="day{{project.day}}">{{project.day}}</div></td>
            		<td><a href="{{project.url}}">{{project.name}}</a></td>
            		<td>{{project.description}}</a></td>
            		<td>{{project.technologies.join(', ')}}</td>
            	</tr>
           	</tbody>  
          </table>

          <button type="button" href="#addProject" data-toggle="collapse" class="btn {{addNewProjectExpand ? ' btn-info' : ' btn-default'}}" ng-click="addNewProjectExpand = !addNewProjectExpand" ng-disabled="!authorized()">Add new Project</button>

          <div id="addProject" class="collapse">
          	<form id="addProjectForm">
	          	<div class="panel panel-default">
	          		<div class="panel-heading">
	          			<p class="row"><h5>Day {{projects.length + 1}}</h5></p>
          			</div>
	          		<div class="panel-body">
	          			<p>{{newProjectErrorMessage}}</p>
		          		<p class="row">
		          			<div class="col-md-2"><input type="text" class="form-control" ng-model="newProject.name" placeholder="Project Name"></input></div>
		          			<div class="col-md-2"><input type="text" class="form-control" ng-model="newProject.url"  placeholder="Project URL"></input></div>
		          			<div class="col-md-8"><input type="text" class="form-control" ng-model="newProject.technologies"  placeholder="Adopted Technologies"></input></div>
		          		</p>
		          		<p class="row">
		          			<div class="col-md-10"><input type="text" class="form-control" ng-model="newProject.description"  placeholder="Project Description"></input>
		          			</div>
		          			<div class="col-md-2"><button type="submit" class="btn btn-primary btn-block" ng-click="addProject()">Add</button></div>
		          		</p>
		          	</div>
		          </div>
          	</form>
          </div>
	    	</div>
		    
		    <div class="space"></div>


		    <!-- Ideas ************** -->
		    
		    <div class="anchor" id="ideas" styles="display:inline;"><h2>Ideas</h2></div>

		    <div ng-controller="IdeaController">

		    	<p>
		    		<button type="button" class="btn btn-default" ng-click="addIdea()" ng-disabled="!authorized()">Add new Idea</button>
		    		&nbsp;&nbsp;|&nbsp;&nbsp;
		    		<button type="button" class="btn {{showCompleted ? ' btn-info' : ' btn-default'}}" ng-click="showCompleted = !showCompleted" ng-disabled="!authorized()">Show completed ({{Ncompleted()}})</button>
		    	</p> 

          <table class="table borderless" id="idea-table"> 
            <tbody> 
            	<tr ng-repeat="idea in ideas | filter:(showCompleted ? {} : {completed:false})">
	            	<td  class="checkbox-column">
            			<input type="checkbox" class="idea-checkbox" ng-model="idea.completed" ng-change="check(idea)" ng-disabled="!authorized()">
            		</td> 
				        <td class="idea-text-column">

				        	<p ng-hide="editing{{ideas.indexOf(idea)}}" ng-dblclick="(authorized() ? ideaDblClick(idea) : null)" class="idea-text {{idea.completed ? 'complete' : ' incomplete'}}">{{idea.name}}</p>

				        	<input id="idea{{ideas.indexOf(idea)}}" class="idea-text edit" placeholder="New idea" ng-model="idea.name" ng-show="editing{{ideas.indexOf(idea)}}" idea-focus="editing{{ideas.indexOf(idea)}}" ng-keyup="keyUp($event, idea)" ng-blur="blur(idea)" ng-disabled="!authorized()">

				        </td>
				        <td class="delete-idea-column"><a class="close" ng-click="deleteIdea(idea)" ng-hide="!authorized()">x</a></td>
      			</tr>
            </tbody>  
          </table>
        </div>


			<div class="space"></div>		


			<!-- Technologies ************** -->

			<div class="anchor" id="technologies" ><h2>Technologies</h2><div>
		  
			<div ng-controller="TechnologyController">

        <p>{{ 
	    		(technologies.length>0)
	    		? ((technologies.length==1)
	    			? "There is 1 adopted technology."
	    			: "There are " + technologies.length + " adopted technologies.") 
	    		: "No technology has been adopted.  Please check back later!"
	    	}}</p>

	    	<table class="table">  
          <thead> 
            <tr> 
              <th class="col-md-2">Name</th>  
              <th>Related Projects</th>  
            </tr>  
          </thead> 
          <tbody> 
          	<tr ng-repeat="technology in technologies | orderBy:'name'">
          		<td>{{technology.name}}</div></td>
          		<td>
          			<a ng-repeat="day in technology.related" href="#day{{day}}">{{day}}&nbsp;&nbsp;&nbsp;</a>
        			</td>
          		
          	</tr>
         	</tbody>  
        </table>
        </div>


			<div class="space"></div>	    


			<!-- About ************** -->
		    
		    <div class="anchor" id="about" ><h2>About</h2><div>
		    <p>Created by Phi Dang</p>
		</div>



		
	</div>
	<!-- Script -->
		<script src="vendor/jquery.min.js"></script>
	    <script src="vendor/json2.js"></script>
	    <script src="vendor/underscore-min.js"></script>
	    <script src="vendor/angular.min.js"></script>
	    <script src="vendor/jquery.form.js"></script>
	    <script src="vendor/bootstrap.min.js"></script>
	    <script src="js/views/home.js"></script>

	    <script>
	    	
	    </script>

	</body>
</html>