.modal-login {
	width: 400px;
	margin-left: -150px;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 30px;
}

.space {
  	padding-top: 20px;
}

.anchor {
	padding-top: 50px;
	margin-top: -50px;
}

.idea-text {
	width:100%;
	border:none;
	box-shadow: none;
	margin-bottom: 0px;
}

.idea-text.complete {
	text-decoration: line-through;
	color: rgb(169, 169, 169);
}



.table.borderless td {
	border: none;
}

td.checkbox-column {
	width: 29px;
}

td.delete-idea-column {
	width:29px;
}

a {
	cursor:pointer;
}